body{
    font-family: 'Lobster', cursive;
}
img{
    width: 100%;
}
h2{
    text-align: center;
    font-size: xx-large;
    color: rgb(176, 1, 255);
}
table{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: x-large;
    color: rgb(152, 5, 243);
}
td{
    border: 1px solid black;
}
.price{
    color: rgb(227, 106, 160);
}
footer{
    text-align: center;
}
